@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --primary-color: #f3f3f3;
    --secondary-color: #4E8786;
    --tertiary-color: #313638;
    --quarternary-color: #1DBF73;
    --quinary-color: #A9A9A9;
    --primary-font: 'Libre Baskerville', sans-serif;
    --secondary-font: 'Poppins', Arial;
}

.darkmode {
    --primary-color: #1C1C1C; /* Dark background */
    --secondary-color: #00ADB5; /* Cool teal */
    --tertiary-color: #EEEEEE; /* Light text color */
    --quarternary-color: #F08A5D; /* Warm accent color */
    --quinary-color: #8d99ad; /* Dark gray for subtle elements */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    transition: 0.2s;
}

body, html
{
    height: 100%;
    margin-top: 30px;
    scroll-behavior: smooth;
    background-color: var(--primary-color);
}

.main-header{
    position: fixed;
    width: 100%;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 65px;
    border-bottom: var(--tertiary-color) 2px solid;
    overflow: hidden;
    background-color: var(--primary-color);
    top: 0;
}

.logo a h2{
    margin: 0 0 0 10px;
    font-size: 2rem;
    color: var(--tertiary-color);
}

.logo a h2 span {
    color: var(--secondary-color);
}

a {
    text-decoration: none;
}

.search-header {
    margin-left: 10px;
    visibility: hidden;
    display: flex;
    opacity: 0%;
    border-radius: 9px;
    width: 30vw;
    height: 40px;
}

.search-header-show {
    visibility: visible;
    opacity: 100%;
}

.search-header input {
    width: 100%;
    border-radius: 4px 0 0 4px;
    padding: 0 15px;
    border: none;
    font-size: 15px;
}

.search-header button {
    height: 100%;
    width: 4rem;
    border: none;
    background: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.navbar {
    display: flex;
}

.navbar .nav-menu {
    display: flex;
    list-style: none;
}

.nav-item {
    padding: 10px;
    margin: 0 20px;
}

.nav-link {
    color: var(--tertiary-color);
    letter-spacing: 1px;
    cursor: pointer;
}

.nav-link img {
    width: 20px;
}

.nav-link:hover, 
.nav-link i:hover {
    color: var(--secondary-color);
} 

.explore-links {
    display: flex;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid var(--tertiary-color);
    top: 0;
    background-color: var(--primary-color);
    transition:  0.5s ease;
    z-index: 9;
    height: 30px;
    padding: 0 40px;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
}

.explore-links-show {
    top: 80px;
}

.explore-links > div {
    cursor: pointer;
    color: var(--tertiary-color);
}

.explore-contents h1 {
    font-size: 20px;
}

.explore-contents a {
    font-size: 15px;
}

.explore-contents a:hover {
    color: var(--secondary-color);
    text-shadow: 0 0 1px;
}

.explore-contents .contents {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: fixed;
    top: -500px;
    z-index: 7;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--tertiary-color);
    padding: 0 40px;
}

.explore-contents .divition {
    width: 200px;
}

.explore-contents .pria-contents-show {
    top:110px
}

.explore-contents .wanita-contents-show {
    top:110px
}

.explore-contents h1 {
    color: var(--tertiary-color);
    border-bottom: 1px solid var(--tertiary-color);
}

.explore-contents ul li{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 4px 0;
}

.explore-contents ul li a {
    color: var(--tertiary-color);
    font-weight: bold;
}

.sign-option {
    display: flex;
    align-items: center;
}

.sign-option .sign-in {
    margin: 0 20px;
    padding: 5px;
    font-size: 14px;
    border-style: solid;
    border-color: var(--quarternary-color);
    color: var(--quarternary-color);
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    font: var(--secondary-font);
    font-weight: bolder;
}

.sign-option .sign-in:hover {
    background-color: var(--quarternary-color);
    color: var(--primary-color);
    border-color: var(--secondary-color);
    transition: all 0.2s linear;
}

.navbar .hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--tertiary-color);
}

.navbar .dropdown {
    display: none;
    list-style: none;
    text-decoration: none;
}

section {
    width: 100%;
    min-height: auto;
    padding: 65px 0 65px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-p2 {
    padding: 60px 80px 40px 80px;
}

.section-p3 {
    padding: 40px 80px;
    margin: 0;
}

.black-box {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 4;
    opacity: 0%;
    background-color: black;
    visibility: hidden;
}

.black-box-show {
    visibility: visible;
    opacity: 35%;
}

.home
{
    display: flex;
    justify-content: center;
    align-items: top;
}

.home .home-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    background: var(--secondary-color);
    width: 90vw;
    height: 60vh;
    z-index: -2;
}

.home-details p
{
    color: var(--primary-color);
    font-size: 58px;
    margin-bottom: 35px;
}

.home-details span
{
    color: var(--tertiary-color);
}

.home-details .search-form {
    display: flex;
    justify-content: center;
    border-radius: 9px;
    background: var(--primary-color);
    width: 50vw;
    height: 40px;
}

.home-details .search-form input {
    width: 100%;
    border-radius: 4px 0 0 4px;
    padding: 0 15px;
    border: none;
    font-size: 15px;
}

.home-details .search-form button {
    height: 100%;
    width: 4rem;
    border: none;
    background: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.categories-header {
    width: 100%;
    position: fixed;
    border-bottom: 1px solid var(--tertiary-color);
    top: -100px;
    background-color: var(--primary-color);
    transition:  0.5s ease;
    z-index: 8;
    height: 30px;
}

.categories-header-show {
    top: 80px;
}

.categories-header ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    height: 30px;
}

.categories-header a{
    color: var(--tertiary-color);
    font-family: var(--secondary-font);
    font-weight: bolder;
}

.categories-header a:hover{
    color: var(--secondary-color);
    text-shadow: 0px 0px 2px;
}

.carousel {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    background-color: var(--primary-color);
}

.carousel-container {
    position: relative;
    width: 90vw;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}

img {
    display: block;
    width: 100%;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    background-color: white;
    color: black;
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: none; 
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 10;
}

.left-arrow {
    left: 10px; 
}

.right-arrow {
    right: 10px; 
}

/* Arrow hover effects */
.arrow:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateY(-50%) scale(1.1); 
}

.carousel-container:hover .arrow {
    display: flex;
}
  
/* Categories */
.categories {
    padding: 0 3vw 10px;
    background-color: var(--primary-color);
}

.categories .content .categories-links
{
    display: flex;
    gap: 10px;
    list-style: none;
    justify-content: space-around;
}

.categories .content .categories-links li a{
    display: flex;
    padding: 15px;
    height: 180px;
    width: 180px;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 0px 0px 3px 0px var(--tertiary-color);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--primary-font);
    color: var(--tertiary-color);
    font-weight: bolder;
}

.categories .content .categories-links li a:hover{
    transition: ease-out 0.5s;
    scale: 1.01;
    box-shadow: 0px 0px 10px 0px var(--tertiary-color);
}

.categories .content .categories-links li a img
{
    width: auto;
    height: 50px;
}

#pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#pagination a{
    padding: 15px 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 6px;
    font-weight: 700;
}

.products {
    padding: 40px 80px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

.products .box-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 30px;
}

.products .box {
    position: relative;
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid var(--quinary-color);
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}

.products .box:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

.products .box span {
    color: var(--quinary-color);
    font-weight: bold;
    font-size: 12px;
}

.products .box .desc {
    text-align: start;
    padding: 10px 0;
}

.products .box img {
    width: 100%;
    border-radius: 20px;
}

.products .box .desc h5 {
    padding-top: 7px;
    font-size: 14px;
}

.products .box .desc i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.products .box .desc h4 {
    padding-top: 7px;
    font-size: 15px;
    color: var(--secondary-color);
}

.products .box .fa-cart-plus {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    font-size: 18px;
    color: var(--primary-color);
    border: 1px solid var(--quinary-color);
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

footer h4 {
    font-size: 16px;
    padding-bottom: 10px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 10px;
    color: var(--tertiary-color);
}

footer .social {
    padding-right: 4px;
    cursor: pointer;
}

footer .col-install .row img {
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
    cursor: pointer;
    margin: 10px 0 15px 0;
}

footer .social i:hover,
footer a:hover {
    color: var(--secondary-color);
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.copyright p {
    font-size: 15px;
    color: var(--primary-color);
}

#cart {
    overflow-x: auto;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 80px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table thead {
    border: 1px solid var(--quinary-color);
    border-left: none;
    border-right: none;
}

#cart table thead td {
    color: var(--tertiary-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding: 15px 0;
}

#cart table tbody td {
    color: var(--tertiary-color);
    font-size: 13px;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart-total {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--primary-color);
}

#cart-total .coupon {
    width: 50%;
    margin-bottom: 30px;
}

#cart-total .coupon h3,
#cart-total .total h3 {
    color: var(--tertiary-color);
    padding-bottom: 15px;
}

#cart-total .coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid var(--quinary-color);
}

#cart-total .coupon button,
#cart-total .total button {
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

#cart-total .total button a {
    text-decoration: none;
    color: var(--primary-color);
}

#cart-total .total {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid var(--quinary-color);
    padding: 30px;
}

#cart-total table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#cart-total table td {
    width: 50%;
    border: 1px solid var(--quinary-color);
    padding: 10px;
    font-size: 13px;
    color: var(--tertiary-color);
}

#cart-check-out {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--primary-color);
}

#cart-check-out .total h3 {
    padding-bottom: 15px;
    color: var(--tertiary-color);
}

#cart-check-out .total button {
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 2px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

#cart-check-out .total button a {
    text-decoration: none;
    color: var(--primary-color);
}

#cart-check-out .total {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid var(--quinary-color);
    padding: 30px;
}

#cart-check-out table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#cart-check-out table td {
    width: 50%;
    border: 1px solid var(--quinary-color);
    padding: 10px;
    font-size: 13px;
    color: var(--tertiary-color);
}

#cart-check-out .payment {
    display: flex;
    justify-content: center;
}

#cart-check-out .payment #payment-method {
    margin: 0 0 10px 20px;
}

@media(max-width: 1150px){
    .categories .content .categories-links {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
    }

    .nav-item {
        margin: 0 5px;
    }

    .search-header {
        width: 17vw;
    }

    .search-header button {
        display: none;
    }
}

@media(max-width: 768px) {

    header {
        overflow: hidden;
    }

    section {
        padding-top: 145px;
    }

    .nav-menu {
        width: 100%;
        position: fixed;
        top: 70px;
        left: -100%;
        flex-direction: column;
        gap: 0;
        align-items: center;
        transition: 0.3s;
        background-color: var(--primary-color);
    }

    .nav-item {
        margin: 16px 0;
    }

    .search-header {
        width: 40vw;
    }

    .nav-menu.active {
        left: 0;
        border-bottom: 2px solid var(--tertiary-color);
    }

    .navbar .sign-option {
        display: none;
    } 

    .navbar .hamburger {
        display: block;
        justify-content: space-between;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .categories-header-show {
        top: 77px;
    }

    .content .home-details {
        height: 40vh;
        width: 80vw;
    }

    .home-details p {
        font-size: 5vw;
    }

    .categories .content .categories-links {
        grid-template-columns: repeat(2, 1fr);
    }

    #cart-total {
        flex-direction: column;
    }

    #cart-total .coupon {
        width: 100%;
    }

    #cart-total .total {
        width: 100%;
        padding: 30px;
    }
}