@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --primary-color: #f3f3f3;
    --secondary-color: #4E8786;
    --tertiary-color: #313638;
    --primary-font: 'Libre Baskerville', sans-serif;
    --secondary-font: 'Poppins', Arial;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body
{
    background-color: var(--primary-color);
}

header
{
    position: flex;
    width: 100%;
    padding: 20px;
    border-bottom: gray 2px solid;
}

header .navbar
{
    max-width: 92rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-links
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.navbar .menu-links a
{
    font-weight: bolder;
    color: #000;
    text-decoration: none;
    transition: 0.2s ease;
    font-size: 1.5rem;
}

.navbar .menu-links a:hover
{
    color: #19a463;
}

.navbar .menu-links .theme a i
{
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.navbar .menu-links .Sign-up
{
    background-color: var(--secondary-color);
    border-radius: 0.4rem;
    height: 5vh;
    width: 5vw;
    text-align: center;
    align-content: center;
}

.navbar .menu-links .Sign-up a {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: 1rem;
    
}

.logo
{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 2rem;
}

