@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', sans-serif;
}

body
{
    background-color: #fff;
}

header
{
    position: flex;
    width: 100%;
    padding: 20px;
    border-bottom: gray 2px solid;
}

header .navbar
{
    max-width: 92rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-links
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.navbar .menu-links a
{
    font-weight: bold;
    color: #000;
    text-decoration: none;
    transition: 0.2s ease;
}

.navbar .menu-links a:hover
{
    color: #19a463;
}

.navbar .menu-links .theme a i
{
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.logo
{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 2rem;
}