.main-header{
    position: fixed;
    width: 100%;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 65px;
    border-bottom: var(--tertiary-color) 2px solid;
    overflow: hidden;
    background-color: var(--primary-color);
    top: 0;
}

.logo a h2{
    margin: 0 0 0 10px;
    font-size: 2rem;
    color: var(--tertiary-color);
}

.logo a h2 span {
    color: var(--secondary-color);
}

a {
    text-decoration: none;
}

.search-header {
    margin-left: 10px;
    visibility: hidden;
    display: flex;
    opacity: 0%;
    border-radius: 9px;
    width: 30vw;
    height: 40px;
}

.search-header-show {
    visibility: visible;
    opacity: 100%;
}

.search-header input {
    width: 100%;
    border-radius: 4px 0 0 4px;
    padding: 0 15px;
    border: none;
    font-size: 15px;
}

.search-header button {
    height: 100%;
    width: 4rem;
    border: none;
    background: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.navbar {
    display: flex;
}

.navbar .nav-menu {
    display: flex;
    list-style: none;
}

.nav-item {
    padding: 10px;
    margin: 0 20px;
}

.nav-link {
    color: var(--tertiary-color);
    letter-spacing: 1px;
    cursor: pointer;
}

.nav-link img {
    width: 20px;
}

.nav-link:hover, 
.nav-link i:hover {
    color: var(--secondary-color);
} 

.explore-links {
    display: flex;
    flex-direction: column;
    width: auto;
    position: fixed;
    top: -100px;
    background-color: var(--primary-color);
    z-index: 9;
    padding: 10px 10px;
    font-weight: bolder;
    border-radius: 5px;
    border: 1px solid var(--quinary-color);
    gap: 10px;
}

.explore-links-show {
    height: auto;
    top: 90px;
}

.explore-links > div {
    cursor: pointer;
    padding: 5px;
    color: var(--tertiary-color);
    border: 1px solid var(--quinary-color);
    border-radius: 3px;
}

.explore-links > div:hover {
    scale: 1.03;
}

.explore-links h3 {
    font-weight: bolder;
}

.explore-contents .contents {
    width: 400px;
    display: flex;
    gap: 30px;
    position: fixed;
    top: -500px;
    z-index: 8;
    background-color: var(--primary-color);
    border: 1px solid var(--quinary-color);
    padding: 15px 20px;
    border-radius: 5px;
}

.explore-contents .pria-contents-show {
    top:90px
}

.explore-contents .wanita-contents-show {
    top:90px
}

.explore-contents .divition {
    width: 200px;
}

.explore-contents h5 {
    font-size: 15px;
    color: var(--tertiary-color);
}
.explore-contents li{
    display: flex;
    list-style: none;
    padding: 4px 0;
}

.explore-contents a {
    font-size: 15px;
    color: var(--tertiary-color);
}

.explore-contents a:hover {
    text-decoration: underline;
}

.navbar .hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--tertiary-color);
}

.navbar .dropdown {
    display: none;
    list-style: none;
    text-decoration: none;
}

.black-box {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 4;
    opacity: 0%;
    background-color: black;
    visibility: hidden;
}

.black-box-show {
    visibility: visible;
    opacity: 35%;
}

.categories-header {
    width: 100%;
    position: fixed;
    border-bottom: 1px solid var(--tertiary-color);
    top: -100px;
    background-color: var(--primary-color);
    transition:  0.5s ease;
    z-index: 8;
    height: 30px;
}

.categories-header-show {
    top: 80px;
}

.categories-header ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    height: 30px;
}

.categories-header a{
    color: var(--tertiary-color);
    font-family: var(--secondary-font);
    font-weight: bolder;
}

.categories-header a:hover{
    color: var(--secondary-color);
    text-shadow: 0px 0px 2px;
}