@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --primary-color: #f3f3f3;
    --secondary-color: #4E8786;
    --tertiary-color: #313638;
    --quarternary-color: #1DBF73;
    --quinary-color: #A9A9A9;
    --primary-font: 'Libre Baskerville', sans-serif;
    --secondary-font: 'Poppins', Arial;
}

.darkmode {
    --primary-color: #1C1C1C; /* Dark background */
    --secondary-color: #00ADB5; /* Cool teal */
    --tertiary-color: #EEEEEE; /* Light text color */
    --quarternary-color: #72afff; /* Warm accent color */
    --quinary-color: #8d99ad; /* Dark gray for subtle elements */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    transition: 0.2s;
}

body, html
{
    height: 100%;
    margin-top: 30px;
    scroll-behavior: smooth;
    background-color: var(--primary-color);
}

section {
    width: 100%;
    min-height: auto;
    padding: 65px 0 65px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-p2 {
    padding: 60px 80px 40px 80px;
}

.section-p3 {
    padding: 40px 80px;
    margin: 0;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.copyright p {
    font-size: 15px;
    color: var(--primary-color);
}

@media(max-width: 1150px){
    .categories .content .categories-links {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
    }

    .nav-item {
        margin: 0 5px;
    }

    .search-header {
        width: 17vw;
    }

    .search-header button {
        display: none;
    }
}

@media(max-width: 768px) {

    header {
        overflow: hidden;
    }

    section {
        padding-top: 145px;
    }

    .nav-menu {
        width: 100%;
        position: fixed;
        top: 70px;
        left: -100%;
        flex-direction: column;
        gap: 0;
        align-items: center;
        transition: 0.3s;
        background-color: var(--primary-color);
    }

    .nav-item {
        margin: 16px 0;
    }

    .search-header {
        width: 40vw;
    }

    .nav-menu.active {
        left: 0;
        border-bottom: 2px solid var(--tertiary-color);
    }

    .navbar .sign-option {
        display: none;
    } 

    .navbar .hamburger {
        display: block;
        justify-content: space-between;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .categories-header-show {
        top: 77px;
    }

    .content .home-details {
        height: 40vh;
        width: 80vw;
    }

    .home-details p {
        font-size: 5vw;
    }

    .categories .content .categories-links {
        grid-template-columns: repeat(2, 1fr);
    }

    #cart-total {
        flex-direction: column;
    }

    #cart-total .coupon {
        width: 100%;
    }

    #cart-total .total {
        width: 100%;
        padding: 30px;
    }
}